:root {
  /* Colours */
  --color-text: #ffffff;
  --color-primary: #c556b3;
  --color-secondary: #000000;
  --color-dark: #73bbd1;
  --color-bg: #3eca84;

  /* Fonts */
  --font-roboto: "Roboto";
}
